---
layout: default
title: Home
---
<div id="toptitle">
  <h1>Qining Zhang (张启宁)</h1>
</div>

<table class="imgtable"><tr><td>
  <a href="https://thumichzqn.github.io/"><img src="pics/bio.jpg" alt="Qining Zhang" width="175px"></a>&nbsp;
</td><td align="left"><p>
  Ph.D. Candidate<br>
  <a href="https://eecs.engin.umich.edu/">Department of Electrical Engineering and Computer Science</a><br>
  <a href="https://umich.edu/">University of Michigan, Ann Arbor</a><br>
  Address: 1301 Beal Ave, Ann Arbor, MI, USA, 48105<br>
  E-mail: qiningz AT umich Dot edu
</p></td></tr></table>

<h2>About me</h2>
<p>
Hi! I am a final-year Ph.D. candidate in Electrical Engineering and Computer Science at the University of Michigan, advised by Prof. 
<a href="https://leiying.engin.umich.edu/">Lei Ying</a>, and a recipient of the 
<a href="https://rackham.umich.edu/funding/rackham-predoctoral-fellowship-program/">Rackham Predoctoral Fellowship</a>.

I received an M.S. in Mathematics from the University of Michigan and a B.E. degree in Electrical Engineering from Tsinghua University in 2021, where I was mentored by Prof. 
<a href="https://scholar.google.com/citations?user=0VH0ULYAAAAJ">Jintao Wang</a> 
and Prof. 
<a href="https://scholar.google.com/citations?user=wIey4CMAAAAJ">Haoyue Tang</a>.

In summer 2024, I was an Applied Scientist Intern with the Amazon Search Experience Science team, mentored by Dr. 
<a href="https://scholar.google.com/citations?user=1AMfX5QAAAAJ&hl=en">Yi Liu</a> 
and Dr. 
<a href="https://scholar.google.com/citations?user=_B6SVAcAAAAJ&hl=en">Tanner Fiez</a>.
</p>

<p>
I am currently on the academic job market for tenure-track Assistant Professor or Postdoc positions in IE/OR, ECE, and CS, starting Fall 2027.
</p>

{% include news.html %}

<h2>Research</h2>

<p>
My research develops foundations and algorithms for reinforcement learning with human feedback, resource constraints, and representation bottlenecks, using stochastic zeroth-order policy optimization (SZPO) as a unified approach.
</p>

<p>My broader interests include:</p>

<ul>
  <li><p>Reinforcement learning and optimization for human alignment;</p></li>
  <li><p>Stochastic bandits, best-arm identification, and adaptive experimentation;</p></li>
  <li><p>Stochastic systems and control, including queueing, networked systems, and platform operations;</p></li>
  <li><p>Applications to language model post-training, robotics, and autonomous systems.</p></li>
</ul>

{% include publications.html %}

<h2>Professional Services</h2>
<p><b>Conference Reviewer</b>: ICLR / NeurIPS / AISTATS / INFOCOM / L4DC / RLC / EWRL</p>
<p><b>Journal Reviewer</b>: IEEE TPAMI / IEEE ToN / Automatica / Performance Evaluation / TMLR</p>
